<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h1>Thanks for joining Cake Day!</h1>
            <p class="lead">For now all you have to do is come to cake day, and eat cake!</p>
            <p>So come along each Tuesday, someone will have brought along a cake, or some other baking, to share. While there's no real requirement that the baking is home made, it's just better.</p>
            <p>You have been put on the end of the list of bakers, so it may seem like you never have to bake, that is because you won't until everyone else has baked first.</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
